# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Vim files
.*.swp

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# eclipse files
.classpath
.project
.settings

# Ignorando Diretórios
.externalToolBuilders/
.settings/
target/
out/
war/
.idea

!/.mvn/wrapper/maven-wrapper.jar
